#cloud-config
hostname: ${hostname}
fqdn: ${hostname}.lab.local

users:
    - name: sho
      sudo: ALL=(ALL) NOPASSWD:ALL
      groups: wheel
      shell: /bin/bash
      ssh_authorized_keys:
        - ${ssh_key}

    - name: ansible
      sudo: ALL=(ALL) NOPASSWD:ALL
      groups: wheel
      shell: /bin/bash
      ssh_authorized_keys:
        - ${ssh_key}

ssh_pwauth: false
disable_root: true

runcmd:
    - systemctl enable --now qemu-guest-agent